*~
*.class
bin/
gen/

# Package Files #
*.jar
*.war
*.ear

.classpath
.settings
.project

eclipse-launch-profiles/
.externalToolBuilders
test-output/

# App Engine generated
*.api
*.discovery
local_db.bin
appengine-generated/
endpoint-libs/
classes/
target/
deploy/
war/freya-app/

# Datanucleus logs
datanucleus.log